header {
    margin: 0; /* マージンをリセット */
    font-size: 2.5em;
    display: flex; /* フレックスボックスを使用 */
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    background-color: black; /* ヘッダーの背景色を白に */
    padding: 10px; /* パディング */
}

.header-content {
    display: flex; /* 横に並べるためのフレックスボックス */
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center;
}

.header-rogo {
    width: 350px; /* 画像の幅 */
    height: 100px; /* 高さは自動調整 */
    margin-right: 10px; /* 画像とテキストの間に余白 */
}

.header-content a {
    text-decoration: none; /* 下線を消す */
    color: #ffcc00; /* リンクの色を暗く */
    transition: color 0.3s; /* スムーズな色の遷移 */
}

.header-content a:hover {
    color: #ffcc00; /* ホバー時の色変更 */
}


